.email-body
  h1 Wellcome to KuongKnight
  #container.col
    p Hello #{user.username}
    p.
      To login kuongknight, you must active your account
    p
      | Click
      a(href='http://localhost:3000/active/'+user.token) here 
      | to active
